<h2><%= @task[:content] %></h2>
<p>Created: <%= @task[:created_at] %></p>
<% if @task[:created_at] != @task[:updated_at] %>
<p>Updated: <%= @task[:updated_at] %></p>
<% end %>

<%= link_to "Home", root_path %>
